@import '../../../App.scss';

@keyframes ellipsis {
  0% {
    content: '.';
  }
  33% {
    content: '..';
  }
  66% {
    content: '...';
  }
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;

  h1 {
    font-weight: 500;
    &::after {
      content: '';
      animation: ellipsis 1.5s steps(3) infinite;
    }
  }

  .loader {
    display: block;
    position: relative;
    height: 32px;
    width: 240px;
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #000;
    border-radius: 20px;
  }

  .loader:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ff3d00;
    animation: ballbns 3s ease-in-out infinite;
  }

  @keyframes ballbns {
    0% {
      left: 0;
      transform: translateX(0%);
      box-shadow: -5px 0 0 -1px rgba(255, 61, 0, 0.9), -10px 0 0 -2px rgba(255, 61, 0, 0.8),
        -15px 0 0 -4px rgba(255, 61, 0, 0.6), -20px 0 0 -6px rgba(255, 61, 0, 0.4),
        -25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    49% {
      left: 100%;
      transform: translateX(-100%);
      box-shadow: -5px 0 0 -1px rgba(255, 61, 0, 0.9), -10px 0 0 -2px rgba(255, 61, 0, 0.8),
        -15px 0 0 -4px rgba(255, 61, 0, 0.6), -20px 0 0 -6px rgba(255, 61, 0, 0.4),
        -25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    51% {
      left: 100%;
      transform: translateX(-100%);
      box-shadow: 5px 0 0 -1px rgba(255, 61, 0, 0.9), 10px 0 0 -2px rgba(255, 61, 0, 0.8),
        15px 0 0 -4px rgba(255, 61, 0, 0.6), 20px 0 0 -6px rgba(255, 61, 0, 0.4),
        25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
    100% {
      left: 0;
      transform: translateX(0%);
      box-shadow: 5px 0 0 -1px rgba(255, 61, 0, 0.9), 10px 0 0 -2px rgba(255, 61, 0, 0.8),
        15px 0 0 -4px rgba(255, 61, 0, 0.6), 20px 0 0 -6px rgba(255, 61, 0, 0.4),
        25px 0 0 -8px rgba(255, 61, 0, 0.2);
    }
  }
}
