@import '../../App.scss';

.navigation-wrapper {
  width: 100%;
  min-height: 90px;
  position: fixed;
  margin-top: 32px;
  z-index: 99;

  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    background: #f2f3f5a3;
    padding: 8px 24px;
    border-radius: 20px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);

    .navigation-menu a {
      margin: 0 20px;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $primary;
      }

      &.active {
        color: $primary;
      }
    }
  }

  .navigation-customer {
    display: flex;
    gap: 12px;

    .navigation-icon {
      font-size: 32px;
      margin-top: 4px;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $primary;
        transform: scale(1.1);
      }
    }

    .navigation-menu-mobile > .navigation-icon {
      color: $white;
      background: $primary;
      font-size: 36px;
      padding: 0 4px;
      margin-right: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $black;
      }
    }
  }

  .navigation-sub-menu {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background: #fff;
    margin-top: 20px;
    transform: translateY(-10%);
    transition: visibility 0s, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    ul {
      a {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;

        li {
          list-style: none;
          padding: 12px 20px 12px 40px;

          &:hover {
            background: $primary;
            color: $white;
          }

          &.active {
            background: $primary;
            color: $white;
          }
        }
      }
    }

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0s;
    }
  }
}

// Media Queries
/* PC */
@media screen and (min-width: 992px) {
  .navigation-menu-mobile,
  .navigation-sub-menu {
    display: none;
  }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
  .navigation-menu a {
    display: none;
  }

  .navigation-menu-mobile {
    display: block;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navigation-menu-mobile {
    display: block;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .navigation-container {
    flex-direction: column;
  }
}
