@import '../../App.scss';

$desktop-breakpoint: 992px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 767px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: $desktop-breakpoint) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint - 1) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: $mobile-breakpoint) {
      @content;
    }
  }
}

// Base styles for the navigation wrapper
.navigation-wrapper {
  width: 100%;
  min-height: 90px;
  position: fixed;
  margin-top: 32px;
  z-index: 999;

  // Styles for the main navigation container
  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    background: #f2f3f5a3;
    padding: 4px 24px;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.2);

    // Styling for navigation links
    .navigation-menu {
      a {
        margin: 0 20px;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: $primary;
        }

        &.active {
          color: $primary;
        }

        .dropdown {
          margin-bottom: -4px;
        }
      }
    }
  }

  // Styles for customer icons and mobile menu
  .navigation-customer {
    display: flex;

    .navigation-profile {
      display: flex;
      flex-direction: row;
      gap: 12px;

      .cart-amount {
        position: relative;

        .amount-number {
          position: absolute;
          top: -10%;
          left: 40%;
          background: $primary;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 16px;
          width: 32px;
          height: 18px;
          border-radius: 99px;
          font-size: 12px;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    .navigation-icon {
      font-size: 32px;
      margin-top: 4px;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: lighten($primary, 10%);
        transform: scale(1.1);
      }

      &:active {
        color: darken($primary, 1%);
        transform: scale(1);
      }
    }

    .navigation-menu-mobile {
      > .navigation-icon {
        color: $white;
        background: $primary;
        font-size: 36px;
        padding: 0 4px;
        margin-right: 20px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background: $black;
        }
      }
    }
  }

  // Sub-menu visibility for mobile
  .navigation-sub-menu-mobile {
    width: 100%;
    background: #fff;
    margin-top: 20px;
    border-radius: 12px;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;

    ul {
      a {
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;

        li {
          list-style: none;
          padding: 12px 20px 12px 40px;

          &:hover {
            background: $primary;
            color: $white;
          }

          &.active {
            background: $primary;
            color: $white;
          }
        }
      }
    }

    &.show {
      max-height: 500px;
    }
  }
}

// Dimming effect for mobile menu
.dimmed-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

// Media Queries
@include respond-to(desktop) {
  .navigation-menu-mobile,
  .navigation-sub-menu-mobile {
    display: none;
  }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
  .navigation-menu a {
    display: none;
  }

  .navigation-menu-mobile {
    display: block;
  }
}

@include respond-to(tablet) {
  .navigation-menu-mobile {
    display: block;
  }
}

@include respond-to(mobile) {
  .navigation-wrapper {
    position: absolute;
  }

  .navigation-container {
    flex-direction: column;
  }

  .navigation-customer {
    width: 100%;
    justify-content: space-between;
  }
}
