@import '../../App.scss';

.trending-wrapper {
  .trending-container {
    .trending-header {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 40px;
    }

    .trending-products {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .trending-product {
        width: calc(100% / 3);
        border-radius: 12px;
        border: 3px solid $primary;
        text-align: center;

        .trending-product-img {
          padding: 20px 40px;
          margin-bottom: 12px;
          height: 50%;
          min-height: 300px;

          img {
            width: 90%;
            height: 90%;
          }
        }

        h3 {
          color: #070601;
          font-size: 22px;
          font-weight: 400;
          line-height: 33px;
          margin-bottom: 12px;
          text-transform: uppercase;
        }

        .trending-product-price {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 40px;
        }

        .trending-product-btn {
          min-height: 64px;
        }
      }
    }
  }
}

// Media Queries
/* PC */
@media screen and (max-width: 1052px) {
}

@media screen and (min-width: 992px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
  .trending-wrapper {
    .trending-container {
      .trending-products {
        .trending-product {
          .trending-product-img {
            padding: 20px;
          }
        }
      }
    }
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
  .trending-wrapper {
    .trending-container {
      .trending-header {
        flex-direction: column;
        text-align: center;
      }

      .trending-products {
        flex-direction: column;

        .trending-product {
          width: 100%;

          .trending-product-img {
            min-height: 250px;
          }
        }
      }
    }
  }
}
