@import '../../../../App.scss';


.hero-wrapper {
  background-color: transparent;
  background-image: linear-gradient(90deg, #fff 54%, $primary 46%);
  padding: 180px 0 120px 0;

  .hero-container {
    > div {
      flex: 1;
    }

    .hero-left {
      justify-content: space-between;
      gap: 20px;

      .primaryText {
        color: $black;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 68px;
        line-height: 80px;
        letter-spacing: 10px;
        margin-bottom: 12px;
      }
    }

    .hero-right {
      .hero-right-col {
        width: 220px;
        background: #f2f3f5;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0px 0px 20px 16px rgba(0, 0, 0, 0.1);

        h3 {
          color: $black;
          font-size: 24px;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 38px;
        }

        &.col-1 {
          position: absolute;
          top: 24%;
          left: 52%;
        }

        &.col-2 {
          position: absolute;
          top: 56%;
          right: 16%;
        }
      }
    }
  }
}

// Media Queries
/* PC */
@media screen and (max-width: 1052px) {
  .hero-wrapper {
    .hero-container {
      .hero-left {
        .hero-title {
          font-size: 42px;
          line-height: 52px;
          letter-spacing: 2px;
        }

        .hero-desc {
          font-size: 16px;
        }
      }

      .image-container img {
        width: 90%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .hero-container {
    flex-direction: row;
  }
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
  .hero-wrapper {
    .hero-container {
      .hero-left {
        .hero-title {
          font-size: 42px;
          line-height: 52px;
          letter-spacing: 2px;
        }

        .hero-desc {
          font-size: 16px;
        }
      }
    }
  }

  .image-container img {
    width: 90%;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-wrapper {
    .hero-container {
      .hero-right {
        .hero-right-col {
          &.col-2 {
            position: absolute;
            top: 56%;
            right: 4%;
          }
        }
      }
    }
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .hero-wrapper {
    .hero-container {
      flex-direction: column;

      .hero-left {
        margin-bottom: 50px;

        .primaryText {
          font-weight: 500;
          font-size: 44px;
          line-height: 50px;
          letter-spacing: 4px;
        }
      }

      .hero-right-col {
        display: none;
      }
    }
  }
}
